<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Title }}</title>
  <!-- static files will be served relative to site root -->
  {{ with resources.Get "global.css" | resources.Fingerprint }}
    {{ with resources.ExecuteAsTemplate "global-style.css" $ .}}
      {{ with . | resources.Minify }}
        <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" />
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $syntaxCss := resources.Get "syntax.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $syntaxCss.Permalink }}" />
  {{ with resources.Get "main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .Permalink }}"></script>
  {{ end }}
</head>
