<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style type="text/css">
    /* TODO move to style sheet */
  @font-face {
    font-family: "Mononoki";
    {{ range resources.Match "*" }}
    src: url("{{ .RelPermalink }}") format("truetype");
    {{ end }}
  }
  * {
    font-family: "Mononoki";
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-decoration: none;
    color: #000;
  }

  footer {
    margin-block-start: 1em;
  }
  </style>
  <title>{{ .Title }}</title>
</head>
