#global-container {
  max-width: 50rem;
  margin: auto;
}

body {
  background-color: #F0F0DF;
  color: #000;
  font-family: serif;
  font-size: 20px;
}

code {
  font-family: monospace;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: #707070;
}

a {
  color: #d11;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
