{{ define "main" }}
  <h1>$ finger $(whoami)</h1>
  <p>
    <div style="display: inline-block; margin-right: 4em; vertical-align: top;">
      <div>Login: christopherfujino</div>
      <div>On since Wed June&nbsp;&nbsp;15 2016 16:11:47 (HST)</div>
    </div>
    <div style="display: inline-block; vertical-align: top;">
      <div>mail: <a href="mailto:christopherfujino@gmail.com">christopherfujino@gmail.com</a></div>
      <div>GitHub: <a href="https://github.com/christopherfujino">christopherfujino</a></div>
    </div>
  </p>
  {{ with .GitInfo }}
    <h1>$ git show HEAD</h1>
    <p>
      <div>commit <a href="https://github.com/christopherfujino/teach-me-to-code/commit/{{ .Hash }}" target=_blank>{{ .Hash }}</a></div>
      <div>Author: {{ .AuthorName }} <{{ .AuthorEmail }}></div>
      <div>Date:&nbsp;&nbsp;&nbsp;{{ .AuthorDate.Format "Mon Jan 02 15:04:05 2006 -0700" }}
      <div><br>&nbsp;&nbsp;&nbsp;&nbsp;{{ .Subject }}</div>
    </p>
    <h1>$ git remote -v</h1>
    <p>
    <div>origin&nbsp;&nbsp;<a href="https://github.com/christopherfujino/teach-me-to-code" target=_blank>git@github.com:christopherfujino/teach-me-to-code.git</a> (fetch)</div>
    <div>origin&nbsp;&nbsp;<a href="https://github.com/christopherfujino/teach-me-to-code" target=_blank>git@github.com:christopherfujino/teach-me-to-code.git</a> (push)</div>
    </p>
  {{ end }}
{{ end }}
