{{ define "main" }}

<br>

<div style="display: inline-block">
  <b>Christopher Fujino</b>
  <div><em>Senior Software Engineer</em></div>
</div>

<div style="float: right; text-align: right;">
  <div><a href="mailto:christopherfujino@gmail.com">christopherfujino@gmail.com</a></div>
  <div><a href="https://github.com/christopherfujino" target="_blank">github.com/christopherfujino</a></div>
</div>

<span style="clear: both; display: table;"></span>

<hr>

<h1>Experience</h1>

{{ $firstJob := true }}
{{ range .Params.jobs }}
  {{ if $firstJob }}
    {{ $firstJob = false}}
  {{ else }}
    <hr>
  {{ end }}

  <p>
    <div class=p style="display: inline-block;">
      <div>
        <em>{{ .company }}</em>
        {{ if compare.Eq .title nil }}
          <!-- no op -->
        {{ else }}
          <span>&#x21D2;</span>
          <span>{{ .title }}</span>
        {{ end }}
      </div>
      <div>{{ .role }}</div>
    </div>
    <div style="float: right;">
      <div>{{ .tenure }}</div>
    </div>
    <span style="clear: both; display: table;"></span>
    <div>
      {{ .description | safeHTML }}
    </div>
  </p>

{{ end }}

{{ end }}
