{{ define "main" }}

<div style="display: inline-block">
  <em class=base16-0A>Christopher Fujino</em>
  <div>Senior Software Engineer at Google</div>
</div>

<div style="float: right; text-align: right;">
  <div><a href="mailto:christopherfujino@gmail.com">christopherfujino@gmail.com</a></div>
  <div><a href="https://github.com/christopherfujino" target="_blank">github.com/christopherfujino</a></div>
</div>

<span style="clear: both; display: table;"></span>

<hr>

<h1>Experience</h1>

{{ $firstJob := true }}
{{ range .Params.jobs }}
  {{ if $firstJob }}
    {{ $firstJob = false}}
  {{ else }}
    <hr>
  {{ end }}

  <p>
    <div class=p style="display: inline-block;">
      <div>
        <em class=base16-0D>{{ .company }}</em>
        <span>&#x21D2;</span>
        <span>{{ .title }}</span>
      </div>
      <div class=base16-03>{{ .role }}</div>
    </div>
    <div style="float: right;">
      <div class=base16-0B>{{ .tenure }}</div>
    </div>
    <span style="clear: both; display: table;"></span>
    <div>
      {{ .description | safeHTML }}
    </div>
  </p>

{{ end }}

{{ end }}
