<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ .Title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- static files will be served relative to site root -->
  {{ with resources.Get "global.css" | resources.Fingerprint }}
    {{ with resources.ExecuteAsTemplate "global-style.css" $ .}}
      {{ with . | resources.Minify }}
        <link rel="stylesheet" type="text/css" href="{{ .Permalink }}" />
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $syntaxCss := resources.Get "syntax.css" | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" type="text/css" href="{{ $syntaxCss.Permalink }}" />
  {{ with resources.Get "main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ .Permalink }}"></script>
  {{ end }}
</head>
